body {
    font-family: "Open Sans", sans-serif;
}

h1{
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    font-weight: bold;
    text-decoration: none;
}

.navbar, .site-footer {
    padding: 5px;
    background-color: #B94629;
    color: white;
    margin: 0;
}

.full-screen{
    height: calc(100vh - 67px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
}

.card-header{
    background-color: #B94629;
}

.card{
    margin-top: 20px;
}

.carousel-inner .carousel-item > img {
    -webkit-animation: thing 20s;
    -o-animation: thing 20s;
    animation: thing 20s; 
  }
  @keyframes thing {
    from {
       transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }

#button {
    margin-top: 20px;
}

.row-content{
    padding-top: 20px;
}

#property{
    margin-left: 10px;
    margin-right: 20px;
}

  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position:absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-right: 15px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.list-group-item{
  border: none;
  align-items: center;
}

h2{
  font-family: "Trirong", serif;
  font-weight: bold;
}

h3{
    font-family: "Trirong", serif;
    font-weight: bold;
}

.card-deck{
  padding-bottom: 50px;
}